################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mimosa/bin
/Mimosa/obj/Debug
/Mimosa/Properties
