<!DOCTYPE html>
<html>
    <head>
        <title>Organic Tribal Mimosa Hostilis Powdered Dye</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Organic,Tribal,mimosa,hostilis,powdered,dye,Powdered Mimosa Hostilis,mimosa,hostilis,powdered mimosa,buy mimosa hostilis uk, buy powdered mimosa uk,powdered mimosa hostilis,powdered mhrb,shredded mimosa hostilis,shredded mhrb,amazon root bark,buy mimosa hostilis uk,ayahuasca,ayahuasca uk">
        <meta name="description" content="Organic Tribal mimosa hostilis powdered dye Buy Quality Powdered Mimosa Hostilis Root Bark From The UK . Buy high quality  Mimosa Hostilis Root Bark Powder Free UK postage.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300'>
        <style>
            body {
                font-family: 'Yanone Kaffeesatz', sans-serif;
                background: linear-gradient(to bottom, rgba(0,0,255,0.5), rgba(0,0,0,-0.5));
            }

            h2 {
                font-weight: 200;
                font-size: 3em;
            }

            p {
                font-weight: 200;
                font-size: 1.5em;
            }

            #headercontent {
                padding-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img class="img-responsive" src="~/Content/Images/Mimosa.jpg" />
            <div class="row" id="headercontent">
                <div class="col-md-12">
                    <h2>Organic Tribal Mimosa Hostilis Powdered Dye</h2>
                    <p>Mimosa Hostilis (Mimosa Tenuiflora, Jurema Preta, Tepezcohuite) is a tree native to the Northeastern region of Brazil. The Mayans of Mexico have used roasted Mimosa Hostilis bark to treat skin problems (eg. acne, eczema and psoriasis) for over a thousand years. A tea made of the leaves and stem has also been used to treat tooth pain. For cases of cough and bronchitis, a water extract (decoction) of Mimosa Hostilis is drunk. One preliminary clinical study also found Mimosa Hostilis to be effective in treating venous leg ulcerations.</p>
                    <p>Mimosa Hostilis extract contains a mixture of condensed tannins, which are mainly mixtures of flavonoid and nontannins such as carbohydrates, hydrocolloid gums, and small amino and imino acid fractions. It is these tannins which make it an integral part of leather manufacturing process. The Mimosa Hostilis tree bark has a unique color, which is in great demand in the industry for producing a beautiful, bright, dark pink dye.</p>
                    <p>
                        <b>Pricing:</b> <br />
                        £15 for 50 grams (powder)<br />
                        £120 for 1Kg (powder)<br />
                    </p>
                    <p>
                        <b>Payment:</b> <br />
                        <span><i class="fa fa-phone fa-1.5x"></i> &nbsp; <a href="tel:07716359348">07716359348</a>&nbsp; (Ask for Scotty)</span><br />
                        <span><i class="fa fa-paypal fa-1.5x"></i> &nbsp; <a href="mailto:jugglesnstruggles@hotmail.com">jugglesnstruggles@hotmail.com</a></span>
                    </p>
                    <p>
                        <b>Postage:</b> <br />
                        <span>All orders will be sent using Royal Mail Signed For at a flat fee of £3.20</span><br />
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
